// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.router-link-exact-active{
    background-color: #6574cd;
    color: white !important;
    font-weight: bold;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #007bff !important;
    border-color: #006fe6 !important;
    color: #fff;
    padding: 0 10px;
    margin-top: .31rem;
}
